@keyframes fade-in {
  from {
    transform: scaleX(0);
  }
}


.box {
  background-color: #1d1d1d;
  border: 1px solid #565242;
  border-radius: 4px;
  padding: 10px;
  min-width: 52px;
  min-height: 52px;
}

.overlay-tooltip {
  top: 0px;
  left: calc(100% - 1px);
  z-index: 10000;
  position: absolute;
  transform-origin: 0 0;
  animation: fade-in 120ms ease-out;
  display: flex;
  gap: 10px;
}

.kill-fit {
  display: flex;
}

.kill-fit__group img {
  display: block;
  width: 32px;
  height: 32px;
}


.kill-att > div {
  display: flex;
}
.kill-att > div > img {
  width: 32px;
  height: 32px;
}



/* https://loading.io/css/ */
.loader {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;
  border-top: 2px solid #FFF;
  border-right: 2px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ellipsis {
  color: #565242;
  font-weight: 900;
  font-size: 16px;
}


#nameTooltip {
  position: absolute;
  background: black;
  color: white;
}